* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_626 {
  width: 164px;
  height: 80px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_627 {
  width: 164px;
  height: 80px;
  background: rgba(0, 168, 107, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v7_628 {
  width: 47px;
  height: 10px;
  background: rgba(251, 251, 251, 1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 76px;
}
.v7_629 {
  width: 48px;
  height: 48px;
  background: rgba(251, 251, 251, 1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
}
.v7_630 {
  width: 24px;
  height: 16px;
  background: rgba(0, 168, 107, 1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 28px;
}
.v7_631 {
  width: 4px;
  height: 4px;
  background: rgba(0, 168, 107, 1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 38px;
}
.v7_632 {
  width: 10px;
  height: 9px;
  background: rgba(0, 168, 107, 1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 35px;
}
.v7_633 {
  width: 72px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 37px;
  left: 75px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
