.text-header {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.footer {
  font-size: 24px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}

.text {
  position: relative;
  margin: 0 auto;
}

.icon666 {
  width: 70px;
  margin: 0 auto;
}
